@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* 
.wrapper{
max-height: 100%;
height: 288px;
display: flex;
width: 600%;
overflow-x: scroll;
overflow: hidden;
object-fit: cover;
}

.wrapper::-webkit-scrollbar{
  width: 0;
}

.wrapper .item{
  line-height: 140%;
  height: 110px;
  margin-left: 20px;
} */


@media screen and (min-width: 320px) {
  .card {
    width: 248px;
  }
}

